name: Relatorio Diario OFs

on:
  schedule:
    # 09:00 UTC corresponde às 06:00 no Horário de Brasília (UTC-3)
    - cron: '0 9 * * 1-5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Dependencias
        run: pip install pandas requests

      - name: Rodar Script
        env:
          BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
        run: python main.py
